---
import QuizList from "@/components/QuizList.astro";
import Layout from "@/layouts/Layout.astro";
import {fetchQuizzes} from "@/libs/fetchQuizzes"
import { QuizResponse } from "@/types/quiz";
const quizData:QuizResponse = await fetchQuizzes();
---

<h1>アクセシビリティクイズ</h1>

<Layout>
	<QuizList quizzes={quizData.contents} />
</Layout>
