---
const { quizzes } = Astro.props;
---

<div>
  {quizzes.map((quiz)=>(
    <div>
      <p>{quiz.question}</p>
      <div>
        <button type="button" aria-label="まる">〇</button>
        <button type="button" aria-label="ばつ">×</button>
      </div>
      <div>
        {quiz.correctAnswer}
      </div>
    </div>
      ))}
</div>
